<section class="content">
    <span class="content-description">
        Веб-форум - интернет-сервис для общения между пользователями интернета на одну или несколько тем. <br /><br />
        Суть работы форума заключается в создании пользователями вопросов с их последующим обсуждением, путем размещения сообщений внутри.
        Пользователи могут комментировать вопросы, задавать дополнительные вопросы и получать ответы, а также давать советы. <br /><br />
        Тематика форума может быть самой разнообразной, охватывая все сферы жизни.<br/><br/>
        У сервиса есть свои правила с которыми необходимо ознакомиться. Ссылка на правила внизу страницы.<br /><br />
        Спасибо за внимание.
    </span>
</section>