<section class="content">
    <span class="content-description">
        Правила сайта<br /><br />
        Список того, чего на ресурсе делать не следует:<br /><br />
        Рекламировать ресурсы в обход правил;<br /><br />
        Заниматься плагиатом;<br /><br />
        Инициировать политические дискуссии и участвовать в них;<br /><br />
        Пытаться собирать средства на проекты;<br /><br />
        Использовать смайлики, коверкать слова, игнорировать правила русского языка;<br /><br />
        Оскорблять других пользователей, не следить за эмоциями;<br /><br />
        Как видите, ничего сложного в правилах нет, и буду признателен, если Вы будете их соблюдать.<br /><br />
        Список правил позаимствован с habr.com/ru/info/help/rules 
    </span>
</section>